body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	
	background-image: url(../images/background.png);

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

body, html {
	height: 100%;
}



.navbar {
	font-family: 'Georgia', Times, Times New Roman, serif;
}